.editor-body {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 50rem;
    width: 100%;
}

.editor-code {
    width: 100%;
}

.editor-file-explorer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 4% auto;
    font-size: 18px;
    font-weight: 600;
}

.editor-file-explorer label {
    padding-right: 10px;
    font-weight: bold;
}

.editor-file-explorer select {
    border-radius: 3px;
    width: 100px;
    padding: 1.5% 0;
    padding-inline-start: 2%;
    float: right;
}

.settings-symbol {
    display: inline;
    float: right;
    font-size: 125%;
}

.editor-save-code {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.editor-save-code button {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    height: 1.5rem;
    background-image: linear-gradient(#ebc400, #FFEB3B);
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 0 2%;
}

.editor-save-code button:hover {
    background: black;
    color: #FFD600;
}

.editor-header {
    height: fit-content;
    content: attr(title);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    color: #fafafa;
    font-weight: bold;
}

.editor-CodeMirror {
    border-top: 1px solid black;
    height: 100% !important;
}

.editor-result {
    border-left: 0.5px solid black;
}

.liveResult {
    overflow: hidden;
}

.result-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 800px) {
    .editor-body {
        grid: none;
    }
    .editor-result {
        border-left: none;
    }
}

@media screen and (max-width: 375px) {
    .editor-file-explorer {
        flex-direction: column;
    }
    .editor-file-explorer-toggle {
        padding-top: 2%;
    }
}